$bgdark: #000000;
$bgnavy:blue;
$textwhite:#ffffff;
$spacingsm: 30px;
$boder:1px solid white;
$rounded:50%;
$colheight:350px;
$colwidth:48%;
$containerwidth:100%;
$bigborder: 20px solid navy;
$smallheadingtext:navy;
$fontheavy:22px;
$linesheight:1.5rem;
$btnwidth:150px;
$buttonheight: 50px;
$boxwidth:30%;
$boxheight:270px;
$boxmargin:10px;
$portfolioheight:400px;
$portfoliowidth:33%;